body {
  height: 100vh;
  background-color: #212121;
  overflow: hidden;
}

#coming_soon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  place-content: flex-end;
  flex-direction: column;
  height: 80%;
}

img {
  max-width: 100%;
  max-height: 100%;
}
#logo {
  height: 150px;
  width: 150px;
  background-color: #212121;
  border-radius: 50%;
  margin-bottom: 2rem;
  position: absolute;
  top: 1rem;
  border: 1px solid #fff;
  left: calc(50% - 75px);
}

h1 {
  text-align: center;
  color: #ffd93b;
  font-family: arial;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 15px;
  margin-bottom: 0;
  text-shadow: 0 2px 0 #212121, 0 6px 0 #ffd93b, 0 4px 0 #000000,
    0 5px 0 #000000, 0 30px 6px rgba(0, 0, 0, 0.1);

  animation: float 3s linear infinite;
  animation-direction: alternate;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 70px;
    line-height: 75px;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 60px;
    line-height: 65px;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 50px;
    line-height: 55px;
  }
}

@media screen and (max-height: 600px) {
  #coming_soon {
    height: 95vh;
  }
}

h2 {
  font-family: arial;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 #000000, 3px 3px 1px #00000083;
}

@keyframes float {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(-10deg);
  }
}
